.nav-button {
    margin: 1rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.short-info-box {
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
}

.info-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-part svg {
    fill: var(--text-color);
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.3rem;
}

.about-long-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;
}

.long-info-box {
    background-color: var(--second-background-color);
    padding: 1rem;
    border-radius: 20px;
}

.apprenticeship {
    display: flex;
    flex-direction: column;
}

.apprenticeship-bar {
    height: 0.2rem;
    width: 25rem;
    background-color: var(--background-color);
    border-radius: 100px;
}

#apprenticeship-progress {
    height: 100%;
    background-color: var(--index-profile-color);
    border-radius: 100px;
}

.apprenticeship-bar-text {
    display: flex;
    justify-content: space-between;
    margin-top: -0.5rem;
}

.apprenticeship a {
    color: var(--index-profile-color);
}