@font-face {
    font-family: "Inter";
    src: url("../assets/Inter-Regular.ttf");
}

:root {
    --index-profile-color: #8a00ce;
    --index-profile-color-40per: rgba(138, 0, 206, 0.4);
    --loading-bar-background: #3b3b3b;
    --inner-bar-background: #8a00ce;
    --big-text-color: #1a1a1a;
    --big-text-p-color: #3b3b3b;
    --background-color: #212121;
    --second-background-color: #2d2d2d;
    --text-color: #cdcdcd;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.row {
    display: flex;
    flex-direction: row;
}

.navigator-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--second-background-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 20px;
    transition: 0.3s;
    font-size: 1rem;
}

.navigator-link svg {
    height: 1rem;
    width: 1rem;
    fill: var(--text-color);
    margin-right: 0.3rem;
    transition: 0.3s;
}

.navigator-link:hover {
    background-color: var(--index-profile-color-40per);
    color: var(--index-profile-color);
    fill: var(--index-profile-color);
    filter: drop-shadow(4px 4px rgba(0, 0, 0, 0.066));
}

.navigator-link:hover svg {
    fill: var(--index-profile-color);
}

.nav-button {
    display: flex;
}